
/*=========================
    HOMEPAGE STYLES
==========================*/
#wrapper-canvas {
    position: relative;
    right: 33px;
}

#wrapper-carousel-home {
    /* margin-top: 74px !important; */
}

#campagnolo-carousel-home .ps-carousel.ps-theme-modern .ps-carousel-slider.ps-slider-horizontal {
    background: transparent !important;
    padding: 12px 15px !important;
}

#campagnolo-carousel-home .ps-carousel-slider .ps-slider-horizontal {
    padding: 12px 15px !important;
}


#campagnolo-carousel-home .ps-carousel.ps-theme-modern .ps-img-container img {
    border: none !important;
}

#campagnolo-carousel-home .ps-carousel.ps-theme-modern .ps-carousel-slider.ps-slider-horizontal nav span.ps-next {
    right: -50px !important;
}

#campagnolo-carousel-home .ps-carousel.ps-theme-modern .ps-carousel-slider.ps-slider-horizontal nav span.ps-prev {
    left: -50px !important;


